/*
 *                   江城子 . 程序员之歌
 * 
 *               十年生死两茫茫，写程序，到天亮。
 *                   千行代码，Bug何处藏。
 *               纵使上线又怎样，朝令改，夕断肠。
 * 
 *               领导每天新想法，天天改，日日忙。
 *                   相顾无言，惟有泪千行。
 *               每晚灯火阑珊处，夜难寐，加班狂。
 * 
 * 
 * @Autor: 郑宝丰
 * @Version: 1.0
 * @Date: 2021-02-03 14:07:01
 * @LastEditors: 郑宝丰
 * @LastEditTime: 2021-02-03 14:07:01
 * @Description: 文件描述
 * @FilePath: /koa-vue/servers/pages/style/common.scss
 */
@import './variable.scss';
html{
    background-color: #f9f9f9;
}
p{
    margin: 0px;
    padding: 0px;
}
 #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 0px;
    color: #2c3e50;
}
#footer{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    padding: 0px 10Px;
    box-shadow: 0px 0px 10px 5px rgba($color: #e8e8e8, $alpha: .5);
    .van-icon{
        font-size: 24px;
    }
    .btn-box{
        width: 80%;
        text-align: right;
    }
    .van-button{
        height: 44px;
        width: 100%;
    }
}